* {
	margin: 0;
	padding: 0;
	width: 1600px;
	font-family: "Lato" sans-serif;
}

section {
	text-align: center;
}

.container {
	margin: 0 auto;
	text-align: center;
	width: 1140px;
	display: flex;
}

header {
	width: 1600px;
	height: 100px;
	background: #f6f9f9;
	padding-left: 250px;
	justify-content: flex-start;
}

header img {
	width: 160px;
	height: 40px;
	margin-top: 30px;
}

.first {
	background: url(../img/bg.jpg) no-repeat center top/ cover;
	height: 800px;
	width: 1600px;
	color: #fff;
}

.one {
	flex-direction: column;
}




h1 {
	padding-top: 215px;
	text-transform: uppercase;
	font-size: 120px;
}

hr {
	width: 600px;
	height: 2px;
	margin-top: 30px;
	margin-bottom: 35px;
	margin-left: 350px;
	background-color: #15a4fa;
	border: none;
}

p span {
	text-transform: uppercase;
}

button {
	margin-top: 60px;
	margin-bottom: 170px;
	border: 1px #15a4fa solid;
	border-radius: 5px;
	width: 180px;
	height: 55px;
	background: aquamarine;
}

.down {
	width: 25px;
	height: 15px;
	background-color: #fff;
}